page-login {

  .content-login{
    //margin-top: 3%;
  }
  .img_login {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 200px;
    //background-image: url('../../assets/imgs/imagen_login.jpg'),url('assets/imgs/imagen_login.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .img_p{
    width: 100%;
    max-width: 100%;
    border: 0;
  }


  .img_logo {
    display: block;
    /* background: red; */
    width: 50%;
    margin: 0 auto;
    position: relative;
    margin-top: -19%;
    /* z-index: 2; */
    margin-bottom: 10%
  }
  .div_form {
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 10%;
    display: block;
    position: relative;
    margin-top: -12%;
  }


  .login-logo {
    display: block;
    margin:  0 auto;
    /* background-color:  beige; */
    text-align:  center;
    font-size:  35px;
    font-weight: 300;
    color:  #444;

  }
  .body-mensaje {
    display:  block;
    margin:  0 auto;
    text-align:  center;
    color: #666;
  }
  .scroll-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .my-contenido {
    width:  100%;
    position: absolute;
    top: 0;
  }

}
