<ion-content class="content-login">
  <div class="my-contenido">

    <img class="img_p" src="assets/imgs/imagen_login1.png">
    <div class="img_logo">
      <img src="assets/imgs/Logo_login1.png" style="max-width: 100%">
    </div>

    <form [formGroup]="loginForm" (submit)="login()" novalidate class="form-dark">
      <div class="div_form">
        <ion-item>
          <ion-label color="intranet" floating>
            <ion-icon name="contact"></ion-icon>
            Correo
          </ion-label>
          <ion-input type="text" formControlName="correo" text-uppercase></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="intranet" floating>
            <ion-icon ios="ios-key" md="md-key"></ion-icon>
            Clave
          </ion-label>
          <ion-input type="password" formControlName="clave"></ion-input>
        </ion-item>
      </div>

      <ion-grid style="margin-top: 5%;">
        <ion-row>
          <ion-col>
            <button ion-button block color="intranet"
                    [disabled]="loginForm.invalid">Entrar
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
