page-main {

  ion-card-header {
    &.ready {
      background: map_get($colors, dark);
    }
    &.pending {
      background: map_get($colors, light);
    }
  }
}
 img {
   max-width: 70%;
 }

 .searchbar-md {
   background-color: #B71C1C;
 }

