<ion-header>
  <ion-navbar [color]="color">
    <button ion-button menuToggle icon-only>
      <ion-icon name='options'></ion-icon>
    </button>
    <div class="asd">
      <img src="assets/imgs/carbomax.png">
    </div>
    <!--<ion-title>CARBOMAX</ion-title>-->
    <ion-buttons end>
      <!--<button ion-button align-items-end (click)="testClicked()">Test</button>-->
      <!--<button ion-button align-items-end (click)="testClicked1()">Test2</button>-->
      <button ion-button align-items-end (click)="entradaClicked()">ENTRADA</button>
      <button ion-button align-items-end (click)="salidaClicked()">SALIDA</button>
      <button ion-button align-items-end (click)="logoutClicked()">
        <ion-icon class="ion-md-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!--<ion-toolbar color="blood">-->
  <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
  <!--</ion-toolbar>-->
</ion-header>

<!-- ENTRADAS -->
<ion-content>
  <!--<button ion-button (click)="test()">amhj,</button>-->

  <div [ngSwitch]="active">
    <div *ngSwitchCase="'entradas'">
      <ion-searchbar (ionInput)="getItems($event)" *ngIf=" entries.length  > 3" class="searchbar-md"></ion-searchbar>
      <ion-card *ngFor="let i of entries">
        <ion-card-header [class.ready]="i.uploaded !== 0" [class.pending]="(i.uploaded === 0)"
                         [color]="(i.uploaded === 0) ? 'light' : 'dark'">
          <ion-icon color="light" left
                    [name]="i.uploaded !== 0 ? 'checkmark-circle-outline' : 'cloud-upload'"
          ></ion-icon>
          <ion-buttons *ngIf="!(i.tara)">
            <button ion-button icon-only align-items-end (click)="doEdit(i)">
              <ion-icon name="create"></ion-icon>
            </button>
          </ion-buttons>
        </ion-card-header>
        <ion-item>
          <span item-start>Producto:</span>
          <span item-end text-capitalize>{{ i.producto_nombre }}</span>
        </ion-item>
        <ion-item>
          <span item-start>Vehiculo:</span>
          <span item-end text-capitalize>{{ i.vehiculo_placa }}</span>
        </ion-item>
        <ion-item>
          <span item-start>Conductor:</span>
          <span item-end text-capitalize>{{ i.conductor_nombre }}</span>
        </ion-item>
        <ion-item>
          <span item-start>Dni:</span>
          <span item-end text-capitalize>{{ i.conductor_dni }}</span>
        </ion-item>
        <ion-item>
          <span item-start>Manto:</span>
          <span item-end text-capitalize>{{ i.manto_nombre }}</span>
        </ion-item>
        <ion-item>
          <span item-start>Patio:</span>
          <span item-end text-capitalize>{{ i.patio_nombre }}</span>
        </ion-item>
        <ion-item>
          <span item-start>Pila:</span>
          <span item-end text-capitalize>{{ i.pila_nombre }}</span>
        </ion-item>
        <ion-item>
          <span item-start>Observacion:</span>
          <span item-end text-capitalize>{{ i.observacion }}</span>
        </ion-item>
        <ion-item>
          <span item-start>Fecha:</span>
          <span item-end text-capitalize>{{ i.fecha }}</span>
        </ion-item>
        <ion-row>
          <ion-col col-4 text-center>
            <h2>Tara: </h2>
            <span>{{ i.tara | number }}</span>
          </ion-col>
          <ion-col col-4 text-center>
            <h2>Bruto:</h2>
            <span>{{ i.bruto | number }}</span>
          </ion-col>
          <ion-col col-4 text-center>
            <h2>Neto: </h2>
            <span>{{ i.neto | number }}</span>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-item *ngIf=" entries.length  < 1 ">
        <br>
        <span>
          <ion-icon name="alert" color="blood"></ion-icon>
          <b>No Hay Entradas Registradas..</b>
        </span>
      </ion-item>
    </div>

    <!-- SALIDAS -->
    <div *ngSwitchCase="'salidas'">
      <ion-searchbar (ionInput)="getItems2($event)" *ngIf=" outputs.length  > 3" class="searchbar-md"></ion-searchbar>
      <ion-card *ngFor="let i of outputs">
        <ion-card-header class="ready" [color]="cards">
          <ion-icon color="light" left
                    [name]="i.uploaded !== 0 ? 'checkmark-circle-outline' : 'cloud-upload'"
          ></ion-icon>
          <ion-buttons *ngIf="!(i.tara)">
            <button ion-button icon-only align-items-end (click)="doEditS(i)">
              <ion-icon name="create"></ion-icon>
            </button>
          </ion-buttons>
        </ion-card-header>
        <ion-item>
          <span item-start>Recibo:</span>
          <span item-end text-capitalize>{{ i.recibo }}</span>
        </ion-item>
        <ion-item>
          <span item-start>Placa:</span>
          <span item-end text-capitalize>{{ i.vehiculo_placa }}</span>
        </ion-item>
        <ion-item>
          <span item-start>Conductor:</span>
          <span item-end text-capitalize>{{ i.conductor_nombre }}</span>
        </ion-item>
        <ion-item>
          <span item-start>Dni:</span>
          <span item-end text-capitalize>{{ i.conductor_dni }}</span>
        </ion-item>
        <ion-item>
          <span item-start>Material:</span>
          <span item-end text-capitalize>{{ i.material_nombre }}</span>
        </ion-item>
        <ion-item>
          <span item-start>Cliente:</span>
          <span item-end text-capitalize>{{ i.clientes_nombre }}</span>
        </ion-item>
        <ion-item>
          <span item-start>Observacion:</span>
          <span item-end text-capitalize>{{ i.observacion }}</span>
        </ion-item>
        <ion-item>
          <span item-start>Fecha:</span>
          <span item-end text-capitalize>{{ i.fecha }}</span>
        </ion-item>
        <ion-row>
          <ion-col col-4 text-center>
            <h2>Tara: </h2>
            <span>{{ i.tara | number }}</span>
          </ion-col>
          <ion-col col-4 text-center>
            <h2>Bruto:</h2>
            <span>{{ i.bruto | number }}</span>
          </ion-col>
          <ion-col col-4 text-center>
            <h2>Neto: </h2>
            <span>{{ i.neto | number }}</span>
          </ion-col>
        </ion-row>

      </ion-card>
      <ion-item *ngIf=" outputs.length  < 1">
        <br>
        <span>
          <ion-icon name="alert" color="blood"></ion-icon>
          <b>No Hay Salidas Registradas..</b>
        </span>
      </ion-item>
    </div>
  </div>


</ion-content>
<ion-footer>
  <ion-toolbar color="intranet">
    <ion-segment [(ngModel)]="active" color="light">
      <ion-segment-button value="entradas"> Entradas ({{ entries.length }})</ion-segment-button>
      <ion-segment-button value="salidas"> Salidas ({{ outputs.length }})</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
<ion-nav #mycontent [root]="rootPage2"></ion-nav>


