
body{
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif !important;

}

/** ANIIMATION SPLASH **/
//.animation-splash{
//  display: flex;
//  z-index: 2;
//  width: 100%;
//}



.spinner-mueve{
  z-index: 2;
  width: 150% !important;
  max-width: none !important;
}





