<!-- ANIMATION SPLASH -->
<div *ngIf="showSplash"
     style="
    display:  flex;
    z-index:  2;">
  <div class="spinner-mueve">
    <img src="assets/imgs/animacion_mueve.gif" style="max-width: 100%">
  </div>
</div>
<!-- FIN ANIMATION-->

<ion-nav [root]="rootPage"></ion-nav>
