<ion-header>
  <ion-navbar [color]="color">
    <ion-title>
      Salida
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding-left>
  <form [formGroup]="outForm" novalidate>
    <ion-list>

      <!--RECIBO-->
      <ion-row>
        <ion-col col-10>
          <ion-item>
            <ion-input type="number" required text-uppercase
                       formControlName="recibo" placeholder="RECIBO" [readonly]="edit"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--FIN RECIBO-->

      <!--PLACA-->
      <ion-row *ngIf="!object('placa'); else placa_t">
        <ion-col col-10>
          <ion-item>
            <ion-input type="text" required text-uppercase placeholder="placa" minlength="6" maxlength="6"
                       formControlName="placa" [readonly]="edit"></ion-input>
          </ion-item>
          <div *ngIf="formErrors.placa">
            <div *ngFor="let errors of formErrors.placa">
              <p class="alert">{{ errors }}
              <p>
            </div>
          </div>
        </ion-col>
        <ion-col col-2>
          <button [disabled]="edit" ion-button medium clear type="button" color="secondary" (click)="doPlaca()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ng-template #placa_t>
        <ion-row>
          <ion-col col-10>
            <ion-item>{{ placaField.value.placa }}</ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button medium clear type="button" color="danger" (click)="clearControl('placa')">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ng-template>
      <!--FIN PLACA-->

      <!--DNI-->
      <ion-row *ngIf="!object('dni'); else dni_t">
        <ion-col col-10>
          <ion-item>
            <ion-input type="text" required text-uppercase [disabled]="!(data.conductores.length>0)" [readonly]="edit"
                       formControlName="dni" placeholder="dni" maxlength="10"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button [disabled]="edit" ion-button medium clear type="button" color="secondary"
                  (click)="doConductores()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ng-template #dni_t>
        <ion-row>
          <ion-col col-10>
            <ion-item>{{ dniField.value.nombre }}</ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button medium clear type="button" color="danger" (click)="clearControl('dni')">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ng-template>
      <!--FIN DNI->

      <!--MATERIAL-->
      <ion-row *ngIf="!object('material'); else material_t">
        <ion-col col-10>
          <ion-item>
            <ion-input type="text" required text-uppercase [readonly]="edit"
                       formControlName="material" placeholder="material"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button [disabled]="edit" ion-button medium clear type="button" color="secondary" (click)="doMaterial()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ng-template #material_t>
        <ion-row>
          <ion-col col-10>
            <ion-item>{{ materialField.value.nombre }}</ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button medium clear type="button" color="secondary" (click)="clearControl('material')">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ng-template>
      <!--FIN MATERIAL-->

      <!--ORIGEN-->
      <ion-row *ngIf="!object('origen'); else origen_t">
        <ion-col col-10>
          <ion-item>
            <ion-input type="text" required text-uppercase
                       formControlName="origen" placeholder="origen" [readonly]="edit"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button [disabled]="edit" ion-button medium clear type="button" color="secondary" (click)="doOrigen()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ng-template #origen_t>
        <ion-row>
          <ion-col col-10>
            <ion-item>{{ origenField.value.nombre }}</ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button medium clear type="button" color="secondary" (click)="clearControl('origen')">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ng-template>
      <!--FIN ORIGEN-->

      <!--PATIO-->
      <ion-row *ngIf="!object('patio'); else patio_t">
        <ion-col col-10>
          <ion-item>
            <ion-input type="text" required text-uppercase
                       formControlName="patio" placeholder="patio" [readonly]="edit" maxlength="10"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button [disabled]="edit" ion-button medium clear type="button" color="secondary" (click)="doPatios()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ng-template #patio_t>
        <ion-row>
          <ion-col col-10>
            <ion-item>{{ areasField.value.nombre }}</ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button medium clear type="button" color="danger" (click)="clearControl('patio')">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ng-template>
      <!--FIN PATIO-->

      <!--PILA-->
      <ion-row *ngIf="!object('pila'); else pila_t">
        <ion-col col-10>
          <ion-item>
            <ion-input type="text" required text-uppercase
                       formControlName="pila" placeholder="pila" [readonly]="edit" maxlength="10"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button [disabled]="edit" ion-button medium clear type="button" color="secondary" (click)="doPila()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ng-template #pila_t>
        <ion-row>
          <ion-col col-10>
            <ion-item>{{ pileField.value.nombre }}</ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button medium clear type="button" color="danger" (click)="clearControl('pila')">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ng-template>
      <!--FIN PILA-->

      <!--CLIENTE-->
      <ion-row *ngIf="!object('cliente'); else cliente_t">
        <ion-col col-10>
          <ion-item>
            <ion-input type="text" required text-uppercase
                       formControlName="cliente" placeholder="cliente" [readonly]="edit"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button [disabled]="edit" ion-button medium clear type="button" color="secondary" (click)="doCliente()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ng-template #cliente_t>
        <ion-row>
          <ion-col col-10>
            <ion-item>{{ clientField.value.nombre }}</ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button medium clear type="button" color="secondary" (click)="clearControl('cliente')">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ng-template>
      <!--FIN CLIENTE-->

      <!--TRANSPORTADORA-->
      <ion-item>
        <ion-label>Transportadora</ion-label>
        <ion-checkbox (ionChange)="checked()"></ion-checkbox>
      </ion-item>
      <!--FIN TRANSPORTADORA-->

      <!-- DATE FECHA -->
      <ion-item>
        <ion-label>FECHA:</ion-label>
        <ion-datetime displayFormat="DD/MMMM" pickerFormat="MMMM-DD" (ionChange)="dateChange($event)"></ion-datetime>
      </ion-item>
      <!-- FIN FECHA-->

      <!-- DATE TIME -->
      <ion-item>
        <ion-label>HORA:</ion-label>
        <ion-datetime displayFormat="h:m a" pickerFormat="h:mm a" (ionChange)="timeChange($event)"></ion-datetime>
      </ion-item>
      <!-- FIN TIME-->

      <!--PESOS BRUTO,TARA,NETO-->
      <ion-row col-12>
        <!--BRUTO-->
        <div class="ion-form-group" col-4>
          <ion-item>
            <ion-input type="number" required formControlName="bruto" [max]="75" step="0.01"
                       text-uppercase placeholder="BRUTO" [readonly]="edit"></ion-input>
          </ion-item>
        </div>
        <!--TARA-->
        <div class="ion-form-group" col-4>
          <ion-item>
            <ion-input #iTara type="number" formControlName="tara" step="0.01"
                       text-uppercase placeholder="TARA"></ion-input>
          </ion-item>
        </div>
        <!--NETO-->
        <div class="ion-form-group" col-4>
          <ion-item>
            <ion-input type="number" step="0.01" placeholder="NETO" formControlName="neto" readonly></ion-input>
          </ion-item>
        </div>
        <div class="invalid-feedback d-block ml-2"
             *ngIf="netWeight.invalid && (netWeight.dirty || netWeight.touched)">
          <div *ngIf="netWeight.errors.required"><i class="fa fa-close"></i> por favor
            llene
            los campos bruto y tara.
          </div>
        </div>
        <div class="row" *ngIf="outForm.hasError('weight') &&
                                (outForm.get('bruto').dirty || outForm.get('bruto').touched ) &&
                                (outForm.get('tara').dirty || outForm.get('tara').touched )">
          <div class="text-danger text-center col mb-1">
            <div><i class="fa fa-close"></i> {{ outForm.errors.weight }}</div>
          </div>
        </div>
        <div *ngIf="formErrors.bruto">
          <div *ngFor="let errors of formErrors.bruto">
            <p class="alert">{{ errors }}
            <p>
          </div>
        </div>
      </ion-row>

      <!--OBSERVACION-->
      <ion-row>
        <div>
          <ion-item>
            <ion-label floating>Observación</ion-label>
            <ion-textarea formcontrolname="observacion"></ion-textarea>
          </ion-item>
        </div>
      </ion-row>

    </ion-list>
    <div padding>
      <button ion-button block [disabled]="!outForm.valid" (click)="saveData()">Enviar</button>
    </div>
  </form>
</ion-content>

