<ion-header>
  <ion-navbar [color]="color">
    <ion-title>
      Entrada
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="entryForm" novalidate>

    <ion-list>

      <!--PLACA-->
      <ion-row *ngIf="!object('placa'); else placa_t">
        <ion-col col-10>
          <ion-item>
            <ion-input type="text" required text-uppercase placeholder="placa" maxlength="6" [readonly]="edit" minlength="6" formControlName="placa"></ion-input>
          </ion-item>
          <div *ngIf="formErrors.placa">
            <div *ngFor="let errors of formErrors.placa">
              <p class="alert">{{ errors }}
              <p>
            </div>
          </div>
        </ion-col>
        <ion-col col-2>
          <button  [disabled]="edit" ion-button medium clear type="button" color="secondary" (click)="doPlaca()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ng-template #placa_t>
        <ion-row>
          <ion-col col-10>
            <ion-item>{{ placaField.value.placa }}</ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button medium clear type="button" color="danger" (click)="clearControl('placa')">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ng-template>
      <!--FIN PLACA-->

      <!--DNI-->
      <ion-row *ngIf="!object('dni'); else dni_t">
        <ion-col col-10>
          <ion-item>
            <ion-input type="text" required text-uppercase [disabled]="!(data.conductores.length>0)"  [readonly]="edit"
                       formControlName="dni" placeholder="dni" maxlength="10"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button  [disabled]="edit" ion-button medium clear type="button" color="secondary"
                  (click)="doConductores()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ng-template #dni_t>
        <ion-row>
          <ion-col col-10>
            <ion-item>{{ dniField.value.nombre }}</ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button medium [disabled]="edit" clear type="button" color="danger" (click)="clearControl('dni')">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ng-template>
      <!--FIN DNI->

      <!--PRODUCTO-->
      <ion-row *ngIf="!object('producto'); else producto_t">
        <ion-col col-10>
          <ion-item>
            <ion-input type="text" required text-uppercase
                       formControlName="producto" placeholder="producto" [readonly]="edit" maxlength="10"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button [disabled]="edit"  ion-button medium clear type="button" color="secondary" (click)="doProducto()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ng-template #producto_t>
        <ion-row>
          <ion-col col-10>
            <ion-item>{{ productField.value.nombre }}</ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button medium clear type="button" color="danger" (click)="clearControl('producto')">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ng-template>
      <!--FIN PRODUCTO-->

      <!--ORIGEN-->
      <ion-row *ngIf="!object('origen'); else origen_t">
        <ion-col col-10>
          <ion-item>
            <ion-input type="text" required text-uppercase
                       formControlName="origen" placeholder="origen" maxlength="15" [readonly]="edit"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button  [disabled]="edit" ion-button medium clear type="button" color="secondary" (click)="doOrigen()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ng-template #origen_t>
        <ion-row>
          <ion-col col-10>
            <ion-item>{{ origenField.value.nombre }}</ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button medium clear type="button" color="danger" (click)="clearControl('origen')">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ng-template>
      <!--FIN ORIGEN-->

      <!--MANTO-->
      <ion-row *ngIf="!object('manto'); else manto_t">
        <ion-col col-10>
          <ion-item>
            <ion-input type="text" required text-uppercase [disabled]="!(data.mantos.length>0)" [readonly]="edit"
                       formControlName="manto" placeholder="manto" maxlength="10"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button [disabled]="edit"  ion-button medium clear type="button" color="secondary"
                  (click)="doManto()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ng-template #manto_t>
        <ion-row>
          <ion-col col-10>
            <ion-item>{{ mantleField.value.nombre }}</ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button medium clear type="button" color="danger" (click)="clearControl('manto')">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ng-template>
      <!--FIN MANTO-->

      <!--PATIO-->
      <ion-row *ngIf="!object('patio'); else patio_t">
        <ion-col col-10>
          <ion-item>
            <ion-input type="text" required text-uppercase
                       formControlName="patio" placeholder="patio" [readonly]="edit" maxlength="10"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button  [disabled]="edit" ion-button medium clear type="button" color="secondary" (click)="doPatios()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ng-template #patio_t>
        <ion-row>
          <ion-col col-10>
            <ion-item>{{ areasField.value.nombre }}</ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button medium clear type="button" color="danger" (click)="clearControl('patio')">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ng-template>
      <!--FIN PATIO-->

      <!--PILA-->
      <ion-row *ngIf="!object('pila'); else pila_t">
        <ion-col col-10>
          <ion-item>
            <ion-input type="text" required text-uppercase
                       formControlName="pila" placeholder="pila" [readonly]="edit" maxlength="10"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button  [disabled]="edit" ion-button medium clear type="button" color="secondary" (click)="doPila()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ng-template #pila_t>
        <ion-row>
          <ion-col col-10>
            <ion-item>{{ pileField.value.nombre }}</ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button medium clear type="button" color="danger" (click)="clearControl('pila')">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ng-template>
      <!--FIN PILA-->

      <!-- DATE FECHA -->
      <ion-item>
        <ion-label>FECHA:</ion-label>
        <ion-datetime displayFormat="DD/MMMM" pickerFormat="MMMM-DD" (ionChange)="dateChange($event)"></ion-datetime>
      </ion-item>
      <!-- FIN FECHA-->

      <!-- DATE TIME -->
      <ion-item>
        <ion-label>HORA:</ion-label>
        <ion-datetime displayFormat="h:m a" pickerFormat="h:mm a" (ionChange)="timeChange($event)"></ion-datetime>
      </ion-item>
      <!-- FIN TIME-->

      <!--PESOS BRUTO,TARA,NETO-->
      <ion-row col-12>
        <!--BRUTO-->
        <div class="ion-form-group" col-4>
          <ion-item>
            <ion-input type="number" required formControlName="bruto" [max]="75" step="0.01" min="1"
                       text-uppercase placeholder="BRUTO" [readonly]="edit"></ion-input>
          </ion-item>
        </div>
        <!--TARA-->
        <div class="ion-form-group" col-4>
          <ion-item>
            <ion-input type="number" formControlName="tara" step="0.01" [max]="75" min="1"
                       text-uppercase placeholder="TARA"></ion-input>
          </ion-item>
        </div>
        <!--NETO-->
        <div class="ion-form-group" col-4>
          <ion-item>
            {{ (entryForm.get('neto').value || 0) | number }}
          </ion-item>
        </div>
        <div class="invalid-feedback d-block ml-2"
             *ngIf="netWeight.invalid && (netWeight.dirty || netWeight.touched)">
          <div *ngIf="netWeight.errors.required"><i class="fa fa-close"></i> por favor
            llene
            los campos bruto y tara.
          </div>
        </div>
        <div class="row" *ngIf="entryForm.hasError('weight') &&
                                (entryForm.get('bruto').dirty || entryForm.get('bruto').touched ) &&
                                (entryForm.get('tara').dirty || entryForm.get('tara').touched )">
          <div class="text-danger text-center col mb-1">
            <div><i class="fa fa-close"></i> {{ entryForm.errors.weight }}</div>
          </div>
        </div>
        <div *ngIf="formErrors.bruto">
          <div *ngFor="let errors of formErrors.bruto">
            <p class="alert">{{ errors }}
            <p>
          </div>
        </div>
      </ion-row>
      <!--FIN PESOS-->

      <!--OBSERVACION-->
      <ion-row>
        <div>
          <ion-item>
            <ion-label floating>Observación</ion-label>
            <ion-textarea formcontrolname="observacion"></ion-textarea>
          </ion-item>
        </div>
      </ion-row>

    </ion-list>

    <!--BUTTON-->
    <div padding>
      <button ion-button block type="button" (click)="saveData($event)">Enviar</button>
    </div>
    <!--FIN BUTTON-->

  </form>
</ion-content>

