<ion-header>

  <ion-navbar [color]="color">
    <ion-title>Añadir Vehiculo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="login-box">
    <form [formGroup]="form" novalidate (submit)="saveData()">
      <ion-list inset>

        <!--TIPO VEHICULO-->
        <ion-row *ngIf="!object('tipos_vehiculos'); else template_tv">
          <ion-col col-10>
            <ion-item>
              <ion-input type="text" required text-uppercase placeholder="TIPO DE VEHICULO" formControlName="tipos_vehiculos"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button medium clear type="button" color="secondary" (click)="doTiposVehiculo()">
              <ion-icon name="search"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ng-template #template_tv>
          <ion-row>
            <ion-col col-10>
              <ion-item>{{ form.get('tipos_vehiculos').value.nombre }}</ion-item>
            </ion-col>
            <ion-col col-2>
              <button ion-button medium clear type="button" color="danger" (click)="clearControl('tipos_vehiculos')">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ng-template>

        <!--PLACA-->
        <ion-col>
          <ion-item>
            <ion-input type="text" placeholder="PLACA" name="placa" minlength="6" formControlName="placa" maxlength="6"
                       required
                       text-uppercase></ion-input>
          </ion-item>
        </ion-col>
        <div *ngIf="formErrors.placa">
          <div *ngFor="let errors of formErrors.placa">
            <p class="alert">{{ errors }}
            <p>
          </div>
        </div>


        <!--DNI-->
        <ion-row *ngIf="!object('dni'); else template_conductor">
          <ion-col col-10>
            <ion-item>
              <ion-input type="number" required text-uppercase placeholder="DNI" minlength="6" formControlName="dni"></ion-input>
            </ion-item>
          </ion-col>
          <div *ngIf="formErrors.dni">
            <div *ngFor="let errors of formErrors.dni">
              <p class="alert">{{ errors }}
              <p>
            </div>
          </div>
          <ion-col col-2>
            <button ion-button medium clear type="button" color="secondary" (click)="doConductores()">
              <ion-icon name="search"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ng-template #template_conductor>
          <ion-row>
            <ion-col col-10>
              <ion-item>{{ form.get('dni').value.dni }}</ion-item>
            </ion-col>
            <ion-col col-2>
              <button ion-button medium clear type="button" color="danger" (click)="clearControl('dni')">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ng-template>

        <!--RESPONSABLE-->
        <ion-item>
          <ion-input type="text" placeholder="Responsable" formControlName="conductor" name="responsable" required
                     text-uppercase></ion-input>
        </ion-item>

        <div padding>
          <button ion-button color="primary" type="submit" [disabled]="!form.valid">ENVIAR</button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
