<!-- Wizard Starts -->
<ion-header>
  <ion-navbar [color]="color">
    <ion-title>
      Mezclas
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div>
    <form [formGroup]="mezclaForm" novalidate>
      <div *ngIf="opc == 0">
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-input type="number" placeholder="RECIBO" required formcontrolname="recibo" text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <!--ORIGEN-->
        <ion-row *ngIf="!object('origen'); else origen_t">
          <ion-col col-10>
            <ion-item>
              <ion-input type="text" required text-uppercase
                         formControlName="origen" maxlength="15" placeholder="Origen" [readonly]="edit"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <button  [disabled]="edit" ion-button medium clear type="button" color="secondary" (click)="doOrigen()">
              <ion-icon name="search"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ng-template #origen_t>
          <ion-row>
            <ion-col col-10>
              <ion-item>{{ origenField.value.nombre }}</ion-item>
            </ion-col>
            <ion-col col-2>
              <button ion-button medium clear type="button" color="danger" (click)="clearControl('origen')">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ng-template>
        <!--FIN ORIGEN-->
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-input type="number" placeholder="CAPACIDAD" formcontrolname="capacidad" required text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-input type="number" placeholder="TIEMPO" formcontrolname="tiempo" required text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-input type="number" formcontrolname="rondas" placeholder="RONDAS" required text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="opc == 1">
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-input type="number" formcontrolname="orden" placeholder="NUMERO ORDEN" required text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-input type="text" formcontrolname="destino" placeholder="DESTINO" required text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-input type="number" formcontrolname="mezcla" placeholder="TOTAL TON. MEZCLA" required text-uppercase disabled></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <!--PATIO-->
        <ion-row *ngIf="!object('patio'); else patio_t">
          <ion-col col-10>
            <ion-item>
              <ion-input type="text" required text-uppercase
                         formControlName="patio" placeholder="patio" [readonly]="edit" maxlength="10"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <button  [disabled]="edit" ion-button medium clear type="button" color="secondary" (click)="doPatios()">
              <ion-icon name="search"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ng-template #patio_t>
          <ion-row>
            <ion-col col-10>
              <ion-item>{{ areasField.value.nombre }}</ion-item>
            </ion-col>
            <ion-col col-2>
              <button ion-button medium clear type="button" color="danger" (click)="clearControl('patio')">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ng-template>
        <!--FIN PATIO-->
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-textarea formcontrolname="observacion" placeholder="OBSERVACION"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col>
          <button ion-button="" *ngIf="opc == 1" (click)="exit(1)">ATRAS</button>
        </ion-col>
        <ion-col>
          <button ion-button="" *ngIf="opc == 0" (click)="next(1)">NEXT</button>
          <button ion-button="" *ngIf="opc == 1" (click)="saveData($event)">GUARDAR</button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>

<!--<form class="form" #f="ngForm">-->
<!--&lt;!&ndash; Step 1 &ndash;&gt;-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="form-group">-->
<!--<label>Recibo Numero</label>-->
<!--<ion-input type="text" class="form-control" formControlName="recibo" id="recibo" name="recibo">-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="form-group">-->
<!--<label>Origen</label>-->
<!--<ion-input type="text" class="form-control" formControlName="origen" id="origen" name="origen">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="form-group">-->
<!--<label>Capacidad Cargador</label>-->
<!--<ion-input type="number" step="0.01" class="form-control" formControlName="capacity" id="capacity"-->
<!--name="capacity">-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="form-group">-->
<!--<label>Tiempo Cargador</label>-->
<!--<ion-input type="text" class="form-control" formControlName="time" id="time" name="time">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="form-group">-->
<!--<label>Total Rondas</label>-->
<!--<ion-input type="number" class="form-control" formControlName="ronds" id="ronds"-->
<!--name="ronds">-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="form-group">-->
<!--<label>Numero de Orden</label>-->
<!--<ion-input type="text" class="form-control" formControlName="order" id="order" name="order">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</fieldset>-->
<!--&lt;!&ndash; Step 2 &ndash;&gt;-->
<!--<h6></h6>-->
<!--<fieldset>-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="form-group">-->
<!--<label>Destino</label>-->
<!--<ion-input type="text" class="form-control" formControlName="destiny" id="destiny"-->
<!--name="destiny">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>Patio</label>-->
<!--<ion-input type="email" class="form-control" formControlName="patio" id="patio"-->
<!--name="patio">-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="form-group">-->
<!--<label for="jobTitle3">Total Ton. Mezcla</label>-->
<!--<ion-input type="text" class="form-control" id="jobTitle3" name="jobTitle3" readonly>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="shortDescription2">Observaciones</label>-->
<!--<textarea name="shortDescription" id="shortDescription2" rows="4"-->
<!--class="form-control"></textarea>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</fieldset>-->
<!--</form>-->

<!-- Wizard Ends -->
